body {
  background-color: #ffffff;
  background-color: #2196f3;
  background-color: #4caf50;
  background-color: #ff9800;
  background-color: #009688;
  background-color: #795548;
}

time {
  color: red;
}
